.wrapper {
    /* position: absolute; */
    background-color: 'darkgreen';
    /* top: 20px;
    left: 20px; */
}

.button {
    background-color: hsl(100 80% 30%);
    padding: 8px 12px;
    border-radius: 1.5em;
    min-width: 72px;
}